{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "powershell",
    "TimerOrchestrator_Schedule": "0 0 7 * * *",
    "LOGIMAILR_STORAGE_URL": "http://127.0.0.1:10000/devstoreaccount1",
    "LOGIMAILR_STORAGE_ACCOUNT": "devstoreaccount1",
    "LOGIMAILR_STORAGE_KEY": "AzuriteKeyHere",
    "LOGIMAILR_BLOB_CONTAINER_CONTROL": "control",
    "LOGIMAILR_BLOB_CONTAINER_INPUT": "input",
    "LOGIMAILR_BLOB_CONTAINER_OUTPUT": "output",
    "LOGIMAILR_BLOB_CONTAINER_RUNS": "runs",
    "LOGIMAILR_MAIL_SENDER": "security-reports@contoso.com",
    "LOGIMAILR_SEND_MODE": "File",
    "LOGIMAILR_TEST_OUTDIR": "./out-mail"
  }
}